html,
body,
#app {
  font-family:
    "core_sans_n45_regular",
    "Avenir Next",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "PingFang SC",
    "Source Han Sans SC",
    "Hiragino Sans GB",
    "Microsoft YaHei",
    "WenQuanYi MicroHei",
    sans-serif !important;
  font-size: 14px;
  height: 100%;
}
