$spilitter: "etool-splitter";

.#{$spilitter} {
  &__after,
  &__before {
    overflow: auto;
  }

  &__separator {
    // background-color: #dedede;
    box-sizing: border-box;
    user-select: none;
    position: relative;
    z-index: 1;

    & > div {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transition: background-color .5s;
    }
  }

  &__separator > div:hover {
    background-color: rgb(0 0 0 / 6%);
  }

  &__workable {
    &.#{$spilitter}__vertical {
      & > .#{$spilitter}__separator {
        cursor: col-resize;
      }
    }

    &.#{$spilitter}__horizontal {
      & > .#{$spilitter}__separator {
        cursor: row-resize;
      }
    }
  }

  &__vertical > &__separator {
    // width: 1px;
    border-right: 1px solid #dedede;
  }

  &__horizontal > &__separator {
    // height: 1px;
    border-top: 1px solid #dedede;
  }

  &__vertical {
    & > .#{$spilitter}__separator > div {
      left: -6px;
      right: -6px;
    }
  }

  &__horizontal {
    & > .#{$spilitter}__separator > div {
      top: -6px;
      bottom: -6px;
    }
  }
}
